/*
$nav-color: #F90;
nav {
  $width: 100px;
  width: $width;
  color: $nav-color;
}
*/
//------------------------------------------------------------------------------------------------------------------------------------------- 全局变量
$workbench-header-height: 30px;
$workbench-footer-height: 22px;
$body-background-color: #252526;
$body-font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
$body-font-size: 11px;
$tools-background-color: rgba(128, 128, 128, 0.2);
$title-background-color: rgb(30, 30, 30);
$title-color: rgba(204, 204, 204, 0.5);
// $gutter-background-color: rgb(28, 28, 29);
$gutter-background-color: rgb(30, 30, 30);
$gutter-vertical-background-color: rgba(128, 128, 128, 0.35);
$left-background-color: rgb(37, 37, 38);
$center-background-color: rgb(30, 30, 30);
$editor-tools-height: 35px;
$editor-tools-background-color: rgb(37, 37, 38);
$panel-tools-background-color: rgba(128, 128, 128, 0.2);
$panel-tools-color: rgb(204, 204, 204);
$panel-tools-height: 22px;
$panel-content-min-height: 48px;

//------------------------------------------------------------------------------------------------------------------------------------------- 页面布局样式
body {
  // border-top: 1px solid #ccc;
  background-color: $body-background-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  user-select: none;
}

// 整体布局
.workbench-root {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 1200px;
  min-height: 500px;

  // 顶部工具栏
  .workbench-header {
    width: 100%;
    height: $workbench-header-height;
    background-color: $tools-background-color;
  }

  // 底部工具栏
  .workbench-footer {
    width: 100%;
    height: $workbench-footer-height;
    background-color: rgb(0, 122, 204);
    color: rgb(255, 255, 255);
  }

  // 主内容区
  .workbench-container {
    width: 100%;
    height: calc(100% - #{$workbench-header-height + $workbench-footer-height});

    // 左边
    .container-left {
      float: left;
      height: 100%;
      background-color: $left-background-color;

      .left-title {
        color: $title-color;
        background-color: $title-background-color;
        height: $editor-tools-height;
        // border-right: 1px solid $gutter-background-color;
        line-height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 12px;
      }
    }

    // 左边/中间 - 调节div
    .gutter.gutter-horizontal {
      float: left;
      margin-top: $editor-tools-height;
      height: calc(100% - #{$editor-tools-height});
      background-color: $gutter-background-color;
      cursor: ew-resize;
    }

    // 中间
    .container-center {
      float: left;
      height: 100%;
      background-color: $center-background-color;

      // 编辑器区
      .editor-container {
        width: 100%;

        // 编辑文件页签-工具栏
        .editor-tools {
          height: $editor-tools-height;
          background-color: $editor-tools-background-color;
        }

        // 编辑器实例
        .editor-instance {
          width: 100%;
          height: calc(100% - #{$editor-tools-height});
          overflow-x: hidden;
          overflow-y: hidden;
        }
      }

      // 编辑器区/控制台区 - 调节div
      .gutter.gutter-vertical {
        width: 100%;
        background-color: $gutter-vertical-background-color;
        cursor: ns-resize;
      }

      // 控制台区
      .console-container {
        width: 100%;
        height: 100%;

        .console-top-tools {
          border-bottom: 1px solid rgb(90, 90, 90);
          width: 100%;
          height: $editor-tools-height - 1px;
        }

        .v-console-container {
          width: 100%;
          height: calc(100% - #{$editor-tools-height});
          .v-console-tools {
            float: left;
            height: 100%;
            width: 32px;
          }
          #vConsoleByDebug {
            border-left: 1px solid rgb(90, 90, 90);
            float: left;
            user-select: text;
            height: 100%;
            width: calc(100% - 33px);
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------------------------------------------------------------------- 组件通用样式
// panel 布局样式
.workbench-root {
  .panel {
    overflow: hidden;
    cursor: pointer;

    .panel-tools {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: $panel-tools-height;
      font-size: 10px;
      font-weight: bold;
      line-height: $panel-tools-height;
      color: $panel-tools-color;
      background-color: $panel-tools-background-color;
      padding-left: 20px;
      background-image: url(../../assets/images/vscode-icons/dark/chevron-right.svg);
      background-position-x: 2px;
      background-position-y: 50%;
      background-repeat: no-repeat;

      &.expanded {
        background-image: url(../../assets/images/vscode-icons/dark/chevron-down.svg);
      }

      .title {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .actions {
        flex-grow: 2;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .button {
          display: inline-block;
          width: 28px;
          height: $panel-tools-height;
          background-position: 50%;
          background-repeat: no-repeat;
        }
      }
    }

    &:hover .panel-tools.expanded .actions {
      display: flex;
    }

    .panel-content {
      &.expanded {
        min-height: $panel-content-min-height;
      }
    }
  }
}

// 修改debug滚动条样式
#vConsoleByDebug .vc-content {
  // /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  // &::-webkit-scrollbar{
  //   width: 8px;
  //   height: 8px;
  //   background-color:#F5F5F5;
  // }
  // /*定义滚动条轨道 内阴影+圆角*/
  // &::-webkit-scrollbar-track{
  //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //   border-radius: 10px;
  //   background-color:#F5F5F5;
  // }
  // /*定义滑块 内阴影+圆角*/
  // &::-webkit-scrollbar-thumb{
  //   border-radius: 10px;
  //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  //   background-color:#555;
  // }
  &::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(30, 30, 30);
  }
  &::-webkit-scrollbar-track{
    border-left: 1px solid rgb(57, 57, 57);
    background-color: rgb(30, 30, 30);
  }
  &::-webkit-scrollbar-thumb{
    display: none;
    background-color: rgb(66, 66, 66);
  }
  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}

//------------------------------------------------------------------------------------------------------------------------------------------- 模块具体样式
// 左边资源管理器
.workbench-root {
  .panel {
    &.opened-file {
      .panel-tools .actions {
        .save-all {
          background-image: url(../../assets/images/vscode-icons/dark/save-all.svg);
          opacity: 0.4;
          cursor: default;
        }
        .close-all {
          background-image: url(../../assets/images/vscode-icons/dark/close-all.svg);
        }
      }
    }

    &.workspace {
      .panel-tools .title {
        text-transform: uppercase;
      }
      .panel-tools .actions {
        .create-file {
          background-image: url(../../assets/images/vscode-icons/dark/new-file.svg);
        }
        .create-folder {
          background-image: url(../../assets/images/vscode-icons/dark/new-folder.svg);
        }
        .refresh {
          background-image: url(../../assets/images/vscode-icons/dark/refresh.svg);
        }
        .collapse-all {
          background-image: url(../../assets/images/vscode-icons/dark/collapse-all.svg);
        }
      }
      // .panel-content.expanded {
      //   overflow-y: auto;
      //   height: 500px;
      // }
    }

    &.switch-workspace {
      .panel-tools .actions {
        .refresh {
          background-image: url(../../assets/images/vscode-icons/dark/refresh.svg);
        }
      }
      .panel-content.expanded {
        height: 128px;
      }
    }
  }
  .container-left-center {
    height: calc(100% - #{$editor-tools-height + $workbench-footer-height + 128px});
  }
}

// 控制台顶部工具栏
.console-top-tools {
  overflow: hidden;
  color: rgb(151, 151, 151);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;

  .console-top-tabs .tab-title{
    cursor: pointer;
    padding: 6px 2px;
    margin: 0 8px;

    &:hover {
      color: rgb(231, 231, 231);
    }

    &.active {
      padding: 6px 2px 1px 2px;
      margin: 0 8px 4px 8px;
      color: rgb(231, 231, 231);
      border-bottom: 1px solid rgb(65, 65, 65);
    }
  }

  .console-top-buttons {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;

    .button {
      cursor: pointer;
      display: inline-block;
      width: 24px;
      height: $editor-tools-height - 4px;
      // background-position-x: 2px;
      background-position: 50%;
      background-repeat: no-repeat;
      margin: 0 4px;
    }

    .console-top-expanded {
      background-image: url(../../assets/images/vscode-icons/dark/chevron-down.svg);
    }
    .console-top-close {
      background-image: url(../../assets/images/vscode-icons/dark/close.svg);
    }
    .log-filter {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin: 0 4px;
      width: 120px;
      height: $editor-tools-height - 12px;
      background-color: rgb(60, 60, 60);
      color: rgb(240, 240, 240);
      border-color: rgb(60, 60, 60);
      .option {
        // TODO 不起作用
        cursor: pointer;
      }
      &:focus {
        outline-color: rgba(14, 99, 156, 0.8);
        outline-width: 1px;
        outline-style: solid;
        outline-offset: -1px;
        opacity: 1!important;
      }
    }
  }
}

// 控制台侧边工具栏
.v-console-tools {
  overflow: hidden;
  color: $panel-tools-color;
  padding-top: 12px;

  .button {
    cursor: pointer;
    border-radius: 4px;
    margin-top: 13px;
    padding: 5px 6px;
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      background-color: rgb(60, 63, 65);
    }

    &.active {
      opacity: 1;
      background-color: rgb(60, 63, 65);
    }
  }
}










