body {
  .layui-layer-hui {
    background-color: rgb(55, 55, 56);
    color: rgb(233, 233, 233);
    border: 1px solid rgb(65, 65, 66);
    opacity: 0.8;
  }
  .layui-layer-loading .layui-layer-loading {
    width: 36px;
    height: 36px;
    background: url(../../assets/images/loading.svg) no-repeat;
    background-size: 36px;
    animation: spin 1.2s linear infinite;
  }
  .layui-layer-loading .layui-layer-loading1 {
    width: 36px;
    height: 36px;
    background: url(../../assets/images/loading1.svg) no-repeat;
    background-size: 36px;
    animation: spin 1.2s linear infinite;
  }
  .layui-layer-loading .layui-layer-loading2 {
    width: 36px;
    height: 36px;
    background: url(../../assets/images/loading2.svg) no-repeat;
    background-size: 36px;
    animation: spin 1.2s linear infinite;
  }
}
