**/node_modules
/dist
/test
/test.js

.DS_Store
npm-debug.log*
yarn-error.log
package-lock.json
.idea
*bak
/coverage
.history
*.log
.umi
.umi-production
/report.html

webpack-config.json
.temp
server/yarn.lock
server/node_modules
server/dist
server/yarn.lock
server/package-lock.json
